html {
    font-family: 'Poppins', sans-serif;
}

#titleNtag {
    margin-bottom: 30px;
    background-image: url("/img/home.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titleNtag h1 {
    font-size: clamp(40px, 5vw, 60px);
    font-family: 'Copperplate', sans-serif;
}

#titleNtag h2 {
    font-size: 25px;
}

.header {
    padding: 10px;
    color: black;
}

#boxes {
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 500px;
    min-width: 200px;
    height: 200px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: solid maroon 5px;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: maroon;
    height: 40px;
    align-items: center;
    color: white;
}

#footer p {
    margin-left: 20px;
    margin-right: 20px;
}